@import "../../style/inc.scss";

.Projects {
  @extend %clearfix;

  margin-left: -5px;
  margin-right: -5px;
}

.Project {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.Project__container {
  margin: 0 5px;
  padding: 10px 20px;
  background: rgba(black, .05);
  border-bottom: 1px solid rgba(black, .1);
  height: 125px;
}

.Project__link {
  margin-top: 10px;
  display: block;
}

.Project__picto {
  vertical-align: middle;
  max-width: 20px;
  margin-right: 5px;
}
