@import '../../style/inc.scss';

.Projects {
  @extend %clearfix;

  margin-left: -5px;
  margin-right: -5px;
}

.Project {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}

.Project__container {
  margin: 0 5px;
  padding: 10px 20px;
  background: $color__main--60;
  border-bottom: 1px solid $color__main--50;
  height: 125px;
  border-radius: 6px;
}

.Project__link {
  margin-top: 10px;
  display: block;
}

.Project__picto {
  vertical-align: middle;
  max-width: 20px;
  margin-right: 5px;
}
