@import "../../style/inc.scss";

.Interests {
  @extend %clearfix;

  margin-left: -5px;
  display: flex;
}

.Interest {
  text-align: center;
  flex: 1;
}

.Interest__container {
  margin: 0 5px;
  padding: 10px 20px;
  // background: rgba(0,0,0,.05);
  // border-bottom: 1px solid rgba(0,0,0,.1);
}

.Interest__icon {
  font-size: 25px;
  border-radius: 25px;
  line-height: 50px;
  width: 50px;
  border: 1px solid lighten($color__secondary, 50%);
}

.Interest__title {
  margin-top: 5px;
  font-size: 12px;
}

