@import "../../style/inc.scss";

.Experience__location {
  margin-left: 5px;
}

.Experience__date {
  margin-left: 5px;
  color: $color__main--light;
}

.Experience__stack {
  float: right;
}

.Experience__stack-item {
  display: inline-block;
  vertical-align: middle;
}

.Experience__stack-image {
  margin-right: 10px;
  max-width: 20px;
  max-height: 15px;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
}
