$spacing-unit: 7mm;

$github-red: #d14;
$github-green: #008080;

$flat-ui-gray-ultra-light: #ecf0f1;
$flat-ui-gray-light: #bdc3c7;
$flat-ui-gray: #95a5a6;
$flat-ui-green: #16a085;
$flat-ui-blue-gray: #34495e;
$flat-ui-blue-gray-dark: #2c3e50;
$flat-ui-blue: #3498db;
$flat-ui-blue-dark: #2980b9;

// $bg-color                   : $flat-ui-gray-ultra-light;

$color__primary: $github-red;
$color__secondary: $flat-ui-blue-gray; //$github-green;
$color__main: $flat-ui-blue-gray;
$color__main--30: lighten($color__main, 30%);
$color__main--50: lighten($color__main, 52%);
$color__main--60: lighten($color__main, 62%);
$color__main--65: lighten($color__main, 65%);
$color__muted: $color__main--30;
$bg-color: $color__main--65;
$bg-darker: darken($bg-color, 10%);
$color__font: $color__main;

%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}
