.section {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(black, .1);
  margin-bottom: 10px;
}

.section__title {
  // color: $color__primary;
  font-weight: 700;
}

.section__desc {
  margin-top: 5px;
  padding-left: 7px;
  border-left: 3px solid rgba(black, .1);
  line-height: 1.8;
  //background: rgba(0,0,0,.05);

  li:before {
    content: "\f138";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 8px;
  }
}

