@import '../../style/inc';

.Stack__item {
  line-height: 15px;
  padding: 5px;
  padding-right: 10px;
  background: $color__main--60;
  border-bottom: 1px solid $color__main--50;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
}

.Stack__image {
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 15px;
  margin-right: 5px;
  display: inline-block;
}
